.hamburger {
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  display: block;
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* Estado abierto - hacer la X perfecta */

.hamburger.open .line1 {
  transform: rotate(45deg) translate(9px, 5px);
}

.hamburger.open .line2 {
  opacity: 0;
}

.hamburger.open .line3 {
  transform: rotate(-45deg) translate(9px, -5px);
}
